<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emgu.CV" version="4.5.3.4721" targetFramework="net472" />
  <package id="Emgu.CV.runtime.windows" version="4.2.0.3636" targetFramework="net46" requireReinstallation="true" />
  <package id="HtmlAgilityPack" version="1.11.37" targetFramework="net46" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net46" />
  <package id="MSBuild.NugetContentRestore" version="0.1.6" targetFramework="net46" />
  <package id="NuGet.Tessnet2" version="1.1.1" targetFramework="net46" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
</packages>